In [16]:
#Progress Proyek PBA | 18-11-2021

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [10]:
df = pd.read_csv('SINGGALANG.csv', encoding = "ISO-8859-1")
df

                                                     word token
0                                                      Ia     O
1                                                menjabat     O
2                                                 sebagai     O
3                                                Presiden     O
4                                                  ketiga     O
...                                                   ...   ...
254779                                         disebutkan     O
254780                                              dalam     O
254781                                              situs     O
254782                                           resminya     O
254783  www.ultimatejlo.com\tO\n,\tO\n''\tO\nLopez\tPe...   NaN

[254784 rows x 2 columns]

In [11]:
df.isnull().sum()

 word    7
token    1
dtype: int64

In [12]:
df = df.fillna(method='ffill')

In [15]:
df['token'].nunique()

4

In [7]:
df.groupby('token').size().reset_index(name='counts')

          token  counts
0             O  227875
1  Organisation    2313
2        Person    6328
3         Place   18268

In [ ]:
X = df.drop('token', axis=1)
v = DictVectorizer(sparse=False)
X = v.fit_transform(X.to_dict('records'))
y = df.Tag.values
classes = np.unique(y)
classes = classes.tolist()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=0)
X_train.shape, y_train.shape