In [16]:
#Progress Proyek PBA | 18-11-2021

In [17]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [18]:
df = pd.read_csv('SINGGALANG.csv', encoding = "ISO-8859-1")
df.head()

       word token
0        Ia     O
1  menjabat     O
2   sebagai     O
3  Presiden     O
4    ketiga     O

In [19]:
df.isnull().sum()

 word    7
token    1
dtype: int64

In [21]:
df = df.fillna(method='ffill')

In [23]:
df.groupby('token').size().reset_index(name='counts')

          token  counts
0             O  227875
1  Organisation    2313
2        Person    6328
3         Place   18268