In [16]:
#Progress Proyek PBA | 18-11-2021

In [23]:
import pandas as pd
import numpy as np
import os
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [24]:
data = pd.read_table('SINGGALANG.tsv', encoding = "ISO-8859-1")
data

             Word Tag
0              Ia   O
1        menjabat   O
2         sebagai   O
3        Presiden   O
4          ketiga   O
...           ...  ..
1048570      1945   O
1048571         ,   O
1048572       dia   O
1048573         ,   O
1048574      yang   O

[1048575 rows x 2 columns]

In [25]:
df.isnull().sum()

 word    0
token    0
dtype: int64

In [26]:
df = df.fillna(method='ffill')

In [38]:
df.groupby('Tag').size().reset_index(name='counts')

KeyError: 'Tag'