In [1]:
#Progress Proyek PBA | 18-11-2021

In [26]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [32]:
df = pd.read_csv('SINGGALANG.csv', encoding = "ISO-8859-1")
df.head()

         Ia      O
0  menjabat      O
1   sebagai      O
2  Presiden      O
3    ketiga      O
4     Mesir  Place

In [33]:
df.isnull().sum()

 Ia    7
O      1
dtype: int64

In [44]:
df = df.fillna(method='ffill')

In [7]:
df.groupby('O').size().reset_index(name='counts')

NameError: name 'df' is not defined